body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38af2d;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  background: rgb(113, 87, 207);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
